* {
    margin: 0;
    outline: medium none;
    padding: 0;
}
html, body {
    height: 100%;
}
body, h1, h2, h3, h4, h5, h6, p, form, dl, dl dt, dl dd, blockquote {
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}
body {
    color: #3f4c52;
    font: 62.5% 'Conv_HelveticaNeueLTStd-Lt',Verdana,Arial,Helvetica,sans-serif;
    min-width: 320px;
}
a:hover img {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
a {
    color: #3f4c52;
    outline: medium none;
}
a:link, a:visited {
    color: #7ca60a;
    text-decoration: none;
}
a:hover {
    color: #19adea;
}
fieldset {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0;
    padding: 0;
}
fieldset legend {
    display: none;
}
ul, li {
    list-style: none outside none;
}
p {
    line-height: 16px;
}
input, select, textarea {
    font: 100% Tahoma,Verdana,Helvetica,sans-serif;
}
input[type="image"], input[type="submit"] {
    outline: medium none;
}
input {
    margin: -1px -2px;
    vertical-align: baseline;
}
html > body input {
    margin: 0;
    vertical-align: text-bottom;
}
object, embed {
    outline: medium none;
}
img {
    max-width: 100%;
    border: none;
}
area {
    border: medium none;
    outline: medium none;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
}
.hidden { display: none;}
@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-Lt';
    src: url('../webfont/eot/HelveticaNeueLTStd-Lt.eot');
    src: url('../webfont/eot/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
    url('../webfont/woff/HelveticaNeueLTStd-Lt.woff') format('woff'), 
    url('../webfont/ttf/HelveticaNeueLTStd-Lt.ttf') format('truetype'), 
    url('../webfont/svg/HelveticaNeueLTStd-Lt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-Md';
    src: url('../webfont/eot/helveticaneueltstd-md-webfont.eot');
    src: local('☺'), url('../webfont/woff/helveticaneueltstd-md-webfont.woff') format('woff'), 
    url('../webfont/ttf/helveticaneueltstd-md-webfont.ttf') format('truetype'),
    url('../webfont/svg/helveticaneueltstd-md-webfont.svg#helveticaneuelt_std_medRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kulturistalight';
    src: url('../webfont/eot/kulturista_light-webfont.eot');
    src: url('../webfont/eot/kulturista_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/woff/kulturista_light-webfont.woff') format('woff'),
         url('../webfont/ttf/kulturista_light-webfont.ttf') format('truetype'),
         url('../webfont/svg/kulturista_light-webfont.svg#kulturistalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kulturistaregular';
    src: url('../webfont/eot/kulturista_medium-webfont.eot');
    src: url('../webfont/eot/kulturista_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/woff/kulturista_medium-webfont.woff2') format('woff2'),
         url('../webfont/woff/kulturista_medium-webfont.woff') format('woff'),
         url('../webfont/ttf/kulturista_medium-webfont.ttf') format('truetype'),
         url('../webfont/svg/kulturista_medium-webfont.svg#kulturistaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_CircularPro-Book';
    src: url('../webfont/eot/CircularPro-Book.eot');
    src: local('☺'), url('../webfont/woff/CircularPro-Book.woff') format('woff'), 
                     url('../webfont/ttf/CircularPro-Book.ttf') format('truetype'), 
                     url('../webfont/svg/CircularPro-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaregular';
    src: url('../webfont/eot/helvetica-webfont.eot');
    src: url('../webfont/eot/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/woff/helvetica-webfont.woff') format('woff'),
         url('../webfont/ttf/helvetica-webfont.ttf') format('truetype'),
         url('../webfont/svg/helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_CircularPro-Medium';
    src: url('../webfont/eot/CircularPro-Medium.eot');
    src: local('☺'), url('../webfont/woff/CircularPro-Medium.woff') format('woff'), 
        url('../webfont/ttf/CircularPro-Medium.ttf') format('truetype'), 
        url('../webfont/svg/CircularPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_CircularPro-Bold';
    src: url('../webfont/eot/CircularPro-Bold.eot');
    src: local('☺'), url('../webfont/woff/CircularPro-Bold.woff') format('woff'), 
         url('../webfont/ttf/CircularPro-Bold.ttf') format('truetype'), 
        url('../webfont/svg/CircularPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica-Bold';
    src: url('../webfont/eot/helvetica-bold-webfont.eot');
    src: local('☺'), url('../webfont/woff/helvetica-bold-webfont.woff') format('woff'), 
         url('../webfont/ttf/helvetica-bold-webfont.ttf') format('truetype'), 
        url('../webfont/svg/helvetica-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}